
/*字体*/
@font-face{
	font-family:con;
	src: url('font/times.ttf');
}
@font-face{
	font-family:实验名;
	src: url('font/GOTHICB.TTF');
}
@font-face{
	font-family:Vwei;
	src: url('font/comic.ttf');
}
/*M,BODY**********************************************************************************/
#M{
	background-color:#eeece1;
}
/*M1,记录板**************	*****************************************************************************************/
#M1_name{	/*消失*/
/*定位*/
	position:fixed;
	left:25%;
	right:41%;
	top:76px;	
	height:35px;
/*边框*/	
	border:1px solid white;
	border-radius:6px;
/*背景*/	
	background-color:#96b2d7;
/*存在*/
	display:none;
	font-family:实验名;
    font-size:2.2em;
    text-indent:10px;
	white-space:nowrap; 
	overflow:hidden; 
    text-overflow: ellipsis;  	
}
#M1_name_button{
	position:fixed;
	left:25%;
	right:41%; 
	z-index:-9;
}
.M1_board{	/*消失*/
/*定位*/
	position:fixed;
	right:1%;
	top:76px;	
	height:35px;
/*存在*/	
	display:none;
	z-index:-9;
}
.M1_exp{	/*消失*/
	position:fixed;
	left:25%;
	right:1%;
	bottom:8px;
	top:117px;		
/*边框*/
	padding:0px;
/*背景*/	

/*显示*/
	display:none;
/*溢出*/
	 overflow-y : auto;    
	 overflow-x : hidden;
	 z-index:-9;
}
.M1_board_button_e{
	background-color:white;
	padding:0px;
	border-radius:6px;	
}
.M1_board_button_s{
	background-color:white;
	padding:0px;
	border-radius:6px;	
}
.M1_board_button_i{
	background-color:white;
	padding:0px;
	border-radius:6px;	
}
.M1_exp_stepBoard{
/*定位*/
	
	width:100%;
	border-collapse:collapse;
}
.M1_exp_stepInfo{
/*定位*/
	
    position:relative;

	height:40px;	
/*字体*/
	color:white;
/*边框*/	
	border-top:2px solid #eeece1;
	border-top-left-radius:15px;
/*背景*/
	background-color:#c3d69b;
}
.M1_exp_step_name_button{
	position:absolute;
	left:15px;	
    right:130px;
    top:0px;
    bottom:0px;
    padding:0px;
	border:0px solid #c3d69b;  
}
.M1_exp_step_name{
	width:100%;
	height:100%;
	background-color:#c3d69b; 
	margin:0px;
	border:0px solid #c3d69b;  
	font-family:Vwei;
    font-size:1.5em;
	white-space:nowrap; 
	overflow:hidden; 
    text-overflow: ellipsis;     
}
.M1_exp_stepItem{
/*定位*/
	border:2px solid #eeece1;
	height:35px;
}
.M1_exp_step_time{
	position:absolute;
	top:10px;	
	right:8px;
	font-family:Vwei;
}
.M1_exp_item_time{
	width:10%;
	background-color:#a6a6a6;
	border:2px solid #eeece1;	
	font-family:Vwei;  
}
.M1_exp_item_content{
/*背景*/    

	background-color:white;
/*溢出*/
    overflow :hidden;
/*边框*/    
    padding:0px;
	font-family:Vwei; 
}
.M1_exp_img{
	color:#f31659;
}
/*M2,标题条********************************************************************************************************/
#M2{ /*60+8 fix*/
	position:fixed;
	top:8px;
	left:1%;
	right:1%;
	height:60px;	
	border-radius:10px;
	background-color:#77ccff;
	z-index:-9;
}
#M2_logo{
	position:absolute;
	top:7px;
	left:10px;
}
/*#M2_search{
	position:absolute;
	left:270px;
	top:11px;
	width:300px;
	height:30px;
	border-radius:8px;
}
#M2_search_button{
	position:absolute;
	left:580px;
	top:14px;
	width:80px;
	height:30px;
	border-radius:8px;
	
	font-family:'Arial', Helvetica, sans-serif;
	font-weight:bold;
	font-size:1em;
	background-color:#77ccff;
}
*/
#M2_accound{
/*定位帐号框*/
	position:absolute;
	top:0px;
	right:0px;
	height:60px;
/*背景色+边框+宽*/
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	
	border-right:0px groove #77ccff;
	border-left:5px groove #77ccff;
	background-color:#77ccff;
}
#M2_accound_team{
/*字体*/
	font-family:实验名;
	font-weight:bold;
	font-size:1.5em;
}
#M2_accound_man{
	font-family:实验名;
	text-align:left;
	font-weight:bold;
	font-size:1.5em;
}
.M2_button{
	position:fixed;
	z-index:1;
	width:200px;
	height:40px;
	top:110%;
	right:1%;
	font-family:Vwei;
	font-weight:bold;
	font-size:15px;
	background-color:#77ccff;
}
/*M3弹框*********************************************************************************************************/
.M3_TITLE{/*弹出框标题*/
	position:relative;
	left:20px;
	top:0.5em;
	font-size:1.6em;
	color:#16b3ba;
}
.M3_font{/*黑体字*/
	margin-left:35px;
	margin-top:5px;
	font-size:1em;
}
#M3_A2_m9,.M3_warn{/*警告字*/
	color:#f31659;
}
.M3_OK{/*确认，取消按钮*/
	margin-left:35px;
	margin-top:10px;
	width:105px;
	height:40px;
	padding:0px;
	border-left:0px solid white;
	border-radius:10px;
}
.M3_OK2{/*确认，取消按钮*/
	margin:0px;
}
.M3_CANCEL{/*确认，取消按钮*/
	margin-left:20px;
}
#M3_A1_m2,#M3_A1_m3,#M3_A1_m4,#M3_A4_m2,#M3_A4_m3,.M3_input{/*邮件发送3个输入框*/
	margin-left:35px;
	margin-top:15px;
	border-radius:5px;
	width:250px;
	box-shadow: 2px 2px 1px #a3a2a2 inset; /*内阴影*/
}
#M3_A1_m4,#M3_A4_m3{/*邮件发送3个输入框*/
	height:70px;
}
#M3_A3_m1{/*删除实验的警示提标*/
	position:relative;
	margin-left:20px;
	top:20px;
}
#M3_A3_m2{/*删除实验文字*/
	position:relative;
	margin-left:70px;
	top:-20px;
	font-size:20px;
}
#M3_A1_m5{/*设置时间*/
	border-radius:5px;
	margin-left:15px;
	margin-top:5px;
	width:100px;
	box-shadow: 1px 1px 2px #888888;
}
#M3_A2{/*添加表格*/
	background-color:white;
	width:300px;
	height:200px;
	font-family:'Comic Sans MS', cursive, sans-serif;
	font-weight:bold;
/*定位*/	
	position:fixed;
	top:130PX;
	right:0px;
	z-index	:3;
/*显示*/	
	display:none;
}
#M3_A4{/*添加实验*/
	background-color:white;
	width:350px;
	height:250px;
	font-family:Calibri;
	font-weight:bold;
/*定位*/	
	position:fixed;
	top:120PX;
	left:30%;
	z-index	:3;
/*显示*/	
	display:none;	
}
#M3_A3,#M3_A14{/*删除实验*/
	background-color:white;
	width:300px;
	height:170px;
	font-family:Calibri;
	font-weight:bold;
/*定位*/
	position:fixed;
	top:130PX;
	right:0px;
	z-index	:3;	
/*显示*/
	display:none;
}

#M3_A5{/*模板外框*/
	position:fixed;
	top:130PX;
	right:0px;
	z-index:3;
	width:380px;
	height:400px;	
	
	background-color:#e7fdc2;
/*字体*/
	font-family:Calibri;
	font-weight:bold;
	
	display:none;
	
}
#M3_A5_l{/*模板题目*/
	position:absolute;
	left:20px;
	top:15px;
	
	font-size:1.6em;
	color:#16b3ba;
	

}
#M3_A5_i{
	position:absolute;
	right:10px;
	top:10px;
	background-color:#ff392d;
	border-radius:28px;
	color:#f4d4ea;
}
#M3_A5_m1{/*实验框架*/
	position:absolute;
	top:50px;
	bottom:15px;
	left:20px;
	width:155px;
	
}
.M3_A5_m2{/*步骤框架*/
	position:absolute;
	top:50px;
	bottom:15px;
	right:20px;
	width:185px;
	background-color: #009eb6;
	display:none;
	
}
.M3_A5_m1s{/*块样式*/
	width:100%;
	height:40px;
	background-color: #c5eff7;
	border:0px solid red;
	border-bottom:2px solid white;

}
.M3_A5_m2s{/*块样式*/
	
	width:135px;
	height:40px;	
	margin-left:25px;
	margin-top:5px;
	color:#e72a63;
	background-color:#aee7e8;
	border-left:0px outset #53eff7;
	border-bottom:0px outset #53eff7;
}
#M3_A6{/*个人信息设置*/
	position:fixed;
	top:120PX;
	left:30%;
	background-color:white;
	width:440px;
	height:320px;
	font-family:Calibri;
	font-weight:bold;
	display:none;
	z-index	:3;	
}
#M3_A6_m2{/*个人信息设置*/
	margin-left:30px;
	margin-top:5px;
}
#M3_A7{/*密码修改*/
	background-color:white;
	width:460px;
	height:250px;
	font-family:Calibri;
	font-weight:bold;
	display:none;
	z-index	:3;	
	position:fixed;
	top:120PX;
	left:30%;	
}
#M3_A7_m2{/*密码修改*/
	margin-left:30px;
	margin-top:10px;
}
#M3_A8{
/*定位*/
	position:fixed;
	top:120PX;
	left:30%;
	z-index	:3;	
	display:none;	
	background-color:white;
	width:400px;
	height:400px;
	font-family:Calibri;
	font-weight:bold;
}
#M3_A8_feedback{
	position:relative;
	top:1em;
	left:5%;
	margin-bottom:1em;
	width:90%;
	height:18em;
	font-size:1em;
	font-family:Vwei;
}
#M3_A1{/*邮件发送*/
	background-color:white;
	width:350px;
	height:300px;
	font-family:Calibri;
	font-weight:bold;
/*定位*/
	position:fixed;
	top:120PX;
	left:30%;
	z-index	:3;		
	display:none;
}
/*M3_A9使用说明*/
#M3_A9{/*底板*/
	background-color:#a8c2e2;
	position:fixed;
	top:5%;
	bottom:5%;
	right:15%;
	left:15%;
	overflow-y:auto;
	display:none;
	z-index	:3;	
	box-shadow:3px 3px 9px 6px #aaaaaa;
}
#M3_A9_m1{/*大标题*/
	font-family:Cambria;
	font-size:2em;
	font-weight:bold;
	text-align:center;
}
#M3_A9_m2{/*副标题*/
	font-family:Cambria;
	font-size:1.2em;
	margin-left:520px;
}
.M3_A9_h1{/*小标题*/
	font-family:Cambria;
	font-size:1.3em;
	font-weight:bold;
}	
.M3_A9_t1{/*段落文字*/
	font-family:Calibri;
	font-size:1em;
}
.M3_A9_p1{/*照片*/
	text-align:center;
}
/*M3_A10集成软件*/
#M3_A10{/*软件集成的底板*/
	background-color:#95b3d7;/*bdbcbc*/
	position:fixed;
	z-index	:3;	
	
	top:50px;
	height:600px;
	left:50px;
	width:1200px;	
	
	overflow-y:auto;
	display:none;

	box-shadow:3px 3px 9px 6px #aaaaaa;
	border:3px solid #8ab3d4;



}
.M3_A10_t1{/*大标题*/
	font-family:Vwei;
	font-size:1.5em;
	font-weight:bold;
	color:white;
	margin-left:10px;
}
.M3_A10_m1n1{/*一款软件的框架，大*/
	margin-left:2%;
	margin-top:10px;
	height:200px;
	margin-right:2%;
	background-color:#c3d0e2;/*#9f9d9d*/
}
.M3_A10_m1n1xiu{/*一款软件的框架，大*/
	margin-left:2%;
	margin-top:10px;
	height:120px;
	margin-right:2%;
	background-color:#c3d0e2;/*#9f9d9d*/
}
.M3_A10_m2n1{/*一款软件的框架，小*/
	margin-left:2%;
	margin-top:10px;
	margin-bottom:10px;
	height:100px;
	margin-right:2%;
	background-color:#c3d0e2;
}
.M3_A10_m1p1{/*一款软件的左边区域，包括软件名称和软件图片*/
	width:280px;
	height:200px;
	font-family:Vwei;
	text-align:center;
}
.M3_A10_m2p1{
	width:280px;
	height:100px;
	font-family:Vwei;
	text-align:center;
}
.M3_A10_m1r1{/*一款软件的右边区域，包括Tool overview+介绍+出处*/
	margin-left:295px;
	margin-top:-200px;
	width:745px;
	height:200px;
	background-color:;/*#7c7a7b*/
}
.M3_A10_m2r1{
	margin-left:295px;
	margin-top:-100px;
	width:745px;
	height:100px;
	background-color:;
}
.M3_A10_p1{
	font-family:实验名;
	font-size:1em;
}
.M3_A10_p2{
	font-family:Calibri;
	font-size:1em;
}
.M3_A10_p3{
	font-family:Vwei;
	font-size:1em;
}
/*关于我们*/
#M3_A11{
	background-color:#8ab3d4;/*#95b3d7*/
	position:fixed;
	top:15%;
	left:30%;
	width:450px;
	height:440px;
	box-shadow:3px 3px 9px 6px #aaaaaa;
	display:none;
	z-index	:3;	
	padding:0px;
}
#M3_A11_m1{
	font-family:实验名;
	font-size:1.6em;
	font-weight:bold;
	text-align:center;
	margin-top:20px;
}
#M3_A11_m2{
	margin-left:60px;
	margin-top:30px;
	font-family:Vwei;
	font-size:1.2em;
	font-weight:bold;
}	
#M3_A11_m3{
	margin-top:68px;
	Opacity:0.7;
}
/*质粒库*/
#M3_A12{
	background-color:white;/*#8ab3d4,#95b3d7*/
	position:fixed;
	
	
	top:50px;
	height:600px;
	left:50px;
	width:1200px;		
	
	padding:0px;
	border:3px solid #8ab3d4;
	display:none;
	z-index	:3;
	box-shadow:3px 3px 9px 6px #aaaaaa;

}
.M3_A12_m1t1{
	font-family:实验名;
	font-size:36px;
	margin-left:70px;
	margin-top:20px;
}
.M3_A12_m1b1{
	width:100px;
	height:40px;
	margin-left:30px;
	margin-top:10px;
	background-color:#8ab3d4;
	font-family:Vwei;
	font-size:24px;
	box-shadow:2px 2px 2px #c7c8c9;
}
#M3_A12_m2{
	width:1200px;
	height:500px;
	margin-left:0px;
	margin-right:0px;
	margin-top:10px;
	overflow-y:auto;
	overflow-x:hidden;
}
#M3_A12_m2n1{
	margin-left:30px;
	margin-right:30px;
	background-color:#8ab3d4;
	overflow-y:auto;
	width:1140px;
}
.M3_A12_m2t1{
	font-family:Vwei;
	font-size:20px;
	text-align:center;
	width:20px;
}
.M3_A12_m2t2{
	font-family:Vwei;
	font-size:20px;
	text-align:center;
	width:100px;
}
.M3_A12_m2t3{
	font-family:Vwei;
	font-size:20px;
	text-align:center;
}
.M3_A12_m2t4,.M3_A12_m2t6,.M3_A12_m2t7{
	font-family:Vwei;
	font-size:16px;
	width:100%;
}
.M3_A12_m2t5{
	font-family:Vwei;
	font-size:16px;
	width:100%;
	background-color:white;
}
#plasmidData_tr{
	display:none;
}
/*数据导出*/
#M3_A13_Title{
	font-family:实验名;
	font-size:20px;
	font-weight:900;
	border:2px solid #eeece1;
	height:30px;	
}
#M3_A13_pat{
	font-family:Vwei;
	font-size:20px;
	border:2px solid #eeece1;
	height:30px;	
	width:33.3%;
}
#M3_A13_table1{
	position:absolute;
	left:30px;
	right:30px;
	top:30px;

	height:50px;
	width:1140px;
	border-collapse:collapse;	
	background-color:#8ab3d4;
}
#M3_A13_table2{
	position:absolute;
	left:0px;
	top:0px;
	
	width:1140px;
	border-collapse:collapse;	
	background-color:#8ab3d4;
	
}
#M3_A13_content{
	position:absolute;
	left:30px;
	top:95px;
	right:30px;
	bottom:55px;
	width:1140px;
	overflow-y:auto;
	overflow-x:hidden;	

}
.M3_A13_td{
	border:2px solid #eeece1;
	height:25px;
	width:33.3%;
	font-family:Vwei;
}
#M3_A13_back{
	position:absolute;
	left:30px;
	bottom:30px;
	height:20px;
}
#M3_A13{display:none;
	background-color:white;/*#8ab3d4,#95b3d7*/
	border:3px solid #8ab3d4;
	box-shadow:3px 3px 9px 6px #aaaaaa;
	
	position:fixed;
	z-index	:3;
	
	top:50px;
	height:600px;
	left:50px;
	width:1200px;
}
.M3_A13_textarea{
	background-color:#c3d0e2;
	width:100%;
	height:100%;

	border:1px solid #eeece1;
}
#M3_A15{display:none;
	background-color:rgb(238,236,225);
	border:3px solid #8ab3d4;
	box-shadow:3px 3px 9px 6px #aaaaaa;
	
	position:fixed;
	z-index	:3;
	
	top:50px;
	height:600px;
	left:50px;
	width:1200px;		
	
	padding:0px;
}
#M3_A15_title{
	position:absolute;
	top:30px;
	left:50px;
	
	font-size:50px;
	font-weight:600;
	font-family:实验名;
}
#M3_A15_intro{
	position:absolute;
	top:110px;
	left:50px;	
	font-size:15px;
	font-weight:100;
	font-family:con;
}
#M3_A15_table1{
	position:absolute;
	top:250px;
	left:80px;
}
#M3_A15_small_title,.M3_A15_small_title_x{
	font-size:20px;
	font-weight:600;
	font-family:Vwei;
	text-align:center;
	height:30px;
	width:350px;
	border:2px solid black;
}
.M3_A15_small_title_x,.M3_A15_small_title_xx{
	color:rgb(112,48,160);
}
.M3_A15_td_left{
	position:relative;
	width:45%;
	font-size:15px;
	font-weight:600;
	font-family:Vwei;
	text-align:center;
	border:2px solid black;
	height:30px;
}
.M3_A15_td_right{
	position:relative;
	width:55%;
	font-size:10px;
	font-weight:600;
	font-family:Vwei;
	text-align:center;
	border:2px solid black;	
	height:30px;
}
.M3_A15_input{
	position:absolute;
	left:2px;
	top:2px;
	bottom:0px;
	right:2px;
	background-color:rgb(238,236,225);
}
.M3_A15_td_button{
	border:2px solid black;	
}
#M3_A15_button{
	background-color:rgb(238,236,225);
	width:350px;
	height:30px;
	font-size:15px;
	font-weight:900;
	font-family:Vwei;
	text-align:center;
	color:rgb(75,172,198);
}
#M3_A15_buttonx,#M3_A15_buttonxx{
	background-color:rgb(238,236,225);
	width:100%;
	height:30px;
	font-size:15px;
	font-weight:900;
	font-family:Vwei;
	text-align:center;
	color:rgb(75,172,198);
}
#M3_A15_table2{
	position:absolute;
	top:10px;
	left:580px;
}
#M3_A15_small_titlex,.M3_A15_small_title_xx{
	font-size:15px;
	font-weight:600;
	font-family:Vwei;
	text-align:center;
	height:25px;
	width:479px;
	border:2px solid black;
}
#M3_A15_img_td{
	height:140px;
	width:100%
}
#M3_A15_img{
	height:140px;
	width:100%;
}
.M3_A15_td_center{
	width:50%;
	position:relative;
	font-size:15px;
	font-weight:600;
	font-family:Vwei;
	text-align:center;
	border:2px solid black;
	height:30px;
}
.M3_A15_td_center_button{
	width:120px;
	height:30px;
	background-color:rgb(238,236,225);
	font-size:15px;
	font-weight:900;
	font-family:Vwei;
	text-align:center;
	color:rgb(75,172,198);	
}
.M3_A15_td_center_BAN{
	width:25%;
	position:relative;
	font-size:15px;
	font-weight:600;
	font-family:Vwei;
	text-align:center;
	border:2px solid black;
	height:30px;
}
.M3_A15_td_3fen1{
	width:25%;
	position:relative;
	font-size:15px;
	font-weight:600;
	font-family:Vwei;
	text-align:center;
	border:2px solid black;
	height:30px;
}
/*M4遮屏幕布***,层叠范围:一般-9，遮屏幕布(白)-8，优先1，遮屏幕布(黑)2，弹框3，禁用幕布4************************************************************************/
#M4{/*遮屏幕布*/			
	position:fixed;
	z-index:2;
	width	:100%;
	height	:100%;
	top		:0px;
	left	:0px;	
	background-color:rgba(0,0,0,0.8);
	display	:none;
}
#M4_M2{
	position:fixed;
	z-index:-8;
	width	:100%;
	height	:100%;
	top		:0px;
	left	:0px;
	background-color:rgba(255,255,255,0);
	display	:none;	
}
#M4_M3{
	position:fixed;
	z-index:-8;
	top		:48%;
	left	:48%;
	font-size:3em;
	font-family:Vwei;
	display:none;
}
#M4_M4,#M4_M5,#M4_M6,#M4_M7,#M4_M8,#M4_M9{
	position:fixed;
	z-index:2;
	width	:100%;
	height	:100%;
	top		:0px;
	left	:0px;
	background-color:rgba(255,255,255,0);
	display	:none;	
}
/*M5,导航板******************************************************************************/
#M5_button{
/*定位*/
	position:fixed;
	left:1%;
	right:75%;
	top:76px;	
	height:36px;	
/*边框*/	
	margin-right:8px;
	padding:0px;
	border-radius:6px;
/*背景*/
	z-index:-9;
}
#M5_button_img{
	width:100%;
	height:36px;
	margin:0px;	
}
#M5_exp{
/*定位*/
	position:fixed;
	left:1%;
	right:75%;
	top:114px;
	bottom:8px;
/*边框*/	
	margin-right:8px;
	padding:0px;
/*滚动条*/
    overflow-y	:auto 		;
    overflow-x	:hidden		; 	
	z-index:-9;
}
.M5_exp_1{      
/*定位*/
	height:35px;
/*边框*/
	text-indent:10px;
	margin:2px;
/*背景*/
	background-color:white;
/*字体*/
	font-family:实验名;
	white-space:nowrap; 
	overflow:hidden; 
    text-overflow: ellipsis; 
	font-size:1.7em;

}
.M5_exp_2{
/*边框*/
	margin:3px 5px 3px 5px;
/*显示*/
	display:none;    
}
.M5_exp_step{
/*定位*/
	height:30px;
/*边框*/	
	margin:2px;
/*背景*/
	background-color:#a6a6a6;
/*字体*/
	color:white;
	font-family:Vwei;
	font-size:1.2em;    
	white-space:nowrap; 
	overflow:hidden; 
    text-overflow: ellipsis;  
    text-indent:10px;    
}
/*M7,iframe*/
#M7{
	display:none; 
}
/*M8,工具栏***********************************************************************************************/
#M8{
/*定位*/
	position:fixed;
	left:1%;
	right:99%;
	top:76px;	
	bottom:8px;	
/*边框*/
	border-radius:10px;
	border: 2px solid white;
/*背景*/	
	background-color:#e6e9a6;
	display:none;
}
.M8_button{
/*定位*/
	width:90%;
	height:40px;
	margin:5%;
/*背景*/		
	background-color:#e6e9a6;
/*边框*/	
	border-left:2px groove #ceebed;
	border-right:2px groove #ceebed;
	border-radius:10px;
	padding:0px;
}
.M9{
	display:none;
}

/*Cn,模板样式******************************************************************************************/
.C0{
	font-family:Vwei;
	font-size:1em;
	width:100%;
	height:3em;
	color:black;
}
.C1{
	width:100%;
	height:370px;
	border-collapse:collapse;
	border:2px solid #eeece1;
}
.C1_td{
	border-right:2px solid #eeece1;
	width:350px;
	height:100%;
	padding:0px;
}
.C1_graph{
	width:350px;
	height:350px;
	margin:0px;
}
.C1_td_text{
	padding:0px;
}
.C1_text{
	margin:0px;
	width:100%;
	height:370px;
	font-size:1em;
	font-family:Vwei;
}
.C1_button1{
	height:20px;
	width:230px;
	 background-image: url(tool_icon/ok.png);
	 background-repeat: no-repeat;
	font-family:Vwei;
}
.C1_button2{
	height:20px;
	width:110px;
	background-image: url(tool_icon/ok.png);
} 
.C3,.C3_ABC,.C5,.C4,.C6,.C7,.C9,.C10{
	width:100%;
	border-collapse:collapse;	
}
.C3_input,.C3_input_ABC,.C6_input,.C5_input,.C7_blur_2,.C7_input_C,.C10_input{/**********/
	width:100%;
	border:1px solid white;
	font-family:con;
	font-size:1em;
}
.C3_td,.C3_td_C,.C3_td_C5_C{
	border:2px solid #eeece1;
	height:20px;
}
.C3_td_title,.C8_td_title{
	text-align:center;
	height:25px;
	font-family:Vwei;
	font-size:1.3em;
	border:2px solid #eeece1;
}
.C3_td_textarea,.C4_td_textarea{
	font-family:Vwei;
	width:50%;
	border:2px solid #eeece1;
	font-size:1em;
}
.C3_textarea{
	height:100%;
	width:100%;
	font-family:Vwei;
	border:0px solid #eeece1;
}
.C4_td{
	border:2px solid #eeece1;
	height:80px;
}
.C5_canvas_td{
	height:100px;
	border:1px solid #eeece1;
	position:relative;
}
.C5_canvas_matrix{
	position:absolute;
	top:30px;
	left:10%;
	width:80%;
	height:40px;
	border:5px solid rgb(79, 129, 189);
	z-index:-8.6;
}
.C5_canvas_button1,.C5_canvas_button2,.C5_canvas_button3{	
	position:absolute;	
	height:32px;	
	background-color:rgb(79, 129, 189);
	z-index:-8.5;
}
.C5_TEXT1{
	position:absolute;	
	z-index:-8.5;
	height:10px;
	top:20px;	
	left:13%;	
}
.C5_TEXT2{
	position:absolute;	
	z-index:-8.5;
	height:10px;
	top:20px;	
	left:83%;	
}

.C5_canvas_button1{	
	top:15px;	
	left:22%;	
	width:20%;	
}
.C5_canvas_button2{	
	top:15px;	
	right:22%;	
	width:20%;	
}
.C5_canvas_button3{	
	bottom:10px;
	left:40%;	
	width:20%;	
}
.C5_system_input,.C7_blur_1{
	border:1px solid #eeece1;
	font-family:con;
	font-size:1em;
	width:5em;
}
.C10_system_input{
	border:1px solid #eeece1;
	font-family:con;
	font-size:1em;
	margin-left:0px;
	margin-right:0em;
}
.C6_button{
	width:100%;
	height:100%;
	margin:0px;
	background-color:rgb(79, 129, 189);
	font-family:Vwei;
	font-size:1em;	
}
.C8_td_title{
	color:rgb(79, 129, 189);
}
.C8_button{
	width:100%;
	height:30px;
	margin:0px;
	background-color:rgb(79, 129, 189);
	font-family:Vwei;
	font-size:1em;
}
.C8{
	width:100%;
	border-collapse:collapse;	
	border: 3px solid #eeece1;
}
.C8_td{
	border:2px solid #eeece1;
}
.C6_td_textarea{
	font-family:Vwei;
	width:40%;
	border:2px solid #eeece1;
	font-size:1em;
}